.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.square {
  width: 75%;
  padding: 20px;
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
}