.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.modal {
  position: absolute;
  width: 650px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
