.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.modal {
  position: absolute;
  width: 650px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

/* Hide the default checkbox */
.simple-checkbox {
  background-color: #eee;
  border: 1px solid #555;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  margin-left: 1.25rem;
}